.book {
    height: 300px;
    width: 200px;
    margin: 30px;
    border: 2px solid black;
    h3 {
        color: green;
        text-align: center;
    }
    p {
        text-align: center;
    }
}
  